.nav_bar {
  background-color: #1a187a;
}

.banner {
  position: relative;
  background: url("./resources/bg.png") center center/cover no-repeat; /* Set the path to your background image */
}

/* Add any additional styles here */
